*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
text-decoration: none;

}
body{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.sec3{
    width: 1728px;
    height: auto;
    background-color: white;

}
.sec3p{
    width: 751px;
height: 75px;
left: 377px;
top: 0px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
/* identical to box height */


/* font */

color: #081323;
}
.sec3p2{
    width: 649px;
    height: 28px;
    left: 413px;
    top: 102px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    /* Gray 2 */
    
    color: #4F4F4F;
    margin-left: 50px;

}
*{
    text-decoration: none;
}
.kolp{
    display: flex;
   justify-content: space-between;
   padding: 40px 50px;
}
.yoz1{
    display: flex;
    gap: 68px;
}
.sec1{
    height: 1080px;
   
    background-repeat: no-repeat;
    background: url(./img/bc.png)center/cover;
}
.yoz1 > a{
    width: 93px;
height: 28px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */


}
.yoz>p{
    width: 1128px;
height: 192px;
left: 0px;
top: 0px;
margin-left: 300px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 82px;
line-height: 96px;
text-align: center;

color: #FFFFFF;
}
.lpok{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 30px;
gap: 8px;

position: absolute;
width: 463px;
height: 71px;
top: -350px;
left: 950px;

color: white;
background: rgba(255, 255, 255, 0.2);
border: 1px solid #FFFFFF;
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 50px;
}
.yoz>span{
 margin-top: 100px;
    width: 583px;
height: 72px;
left: 272px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-align: center;

color: #FFFFFF;

}
.sec3yoz{
padding-top: 9px;
padding-left: 504px;
display: flex;
flex-direction: column;
gap: 10px;

}
.yoz{
    padding-top: 98px;
}
.wrapper{
    width: 1728px;
    height: auto;
    background-color: white;
}
.left{
  
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sec3img{
    width: 717px;
height: 995px;
left: 767px;
top: 212px;

background: url(.jpg);
border-radius: 50px;
}
.rasmsec3{
    display: flex;
    padding-top: 96px;
    padding-left: 126px;
    padding-right: 126px;
    gap: 32px;
}
.sec3img4{
    width: 734px;
height: 404px;
left: 1px;
top: 803px;

background: url(high-angle-desk-arrangement-with-plants.jpg);
border-radius: 50px;
}
